@model CoreTaskManager.Pages.TaskManager.IndexModel

<div class="row">
    @*進捗一覧テーブル*@
    <div class="col-12">
        @if (@Model.Participants.Count != 0)
        {
            <table>
                <thead>
                    <tr>
                        <th style="background-color:#3f3f3f;color:white">　　　　　　　</th>
                        @foreach (var item in @Model.Participants)
                        {
                            <th style="background-color:#3f3f3f;color:white">
                                @{
                                    var userName = item.UserName.Split('@')[0];
                                }
                                @Html.DisplayFor(modelItem => userName)
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        string[] columAlphaBet = { "", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R","S","T","U","V", "W", "X", "Y", "Z" };
                        var columNumber = 1;
                        var rowNumber = 1;
                    }
                    @foreach (var task in Model.ThisTasks)
                    {
                        <tr>
                            <td id="taskName" style="background-color:#3f3f3f;color:white">
                                @rowNumber.ToString().
                                @Html.DisplayFor(modelItem => task.TaskName)
                            </td>
                            @foreach (var item in Model.Participants)
                            {
                                var achived = Model.AchivedInThisProgress.ToList();
                                achived = achived.Where(a => a.TaskId == task.Id)
                                        .Where(a => a.UserName == item.UserName).ToList();
                                string cellId = columAlphaBet[columNumber] + rowNumber.ToString();

                                if (achived.Count == 0)
                                {
                                    //ログインしているユーザ自身のセルとそれ以外を分ける
                                    int currentProgress = item.CurrentProgress;
                                    // 未達成タスクセル
                                    if (item.UserName == User.Identity.Name && currentProgress + 1 == rowNumber)
                                    {
                                        // ひとつ前が完了している申請できるタスクセル
                                        <td id="@cellId" style="background-color:darkgray" data-toggle="modal" data-target="#approvalRequest"></td>
                                    }
                                    else
                                    {
                                        // ひとつ前が完了しておらず、申請できないタスクセル
                                        <td id="@cellId" style="background-color:darkgray"></td>
                                    }
                                }
                                // 承認済みタスク
                                else if (achived.First().IsAuthorized)
                                {
                                    <td id="@cellId" style="background-color:greenyellow">
                                        【承認済み】<br />@achived.First().AchievedDateTime.ToString()
                                    </td>
                                }
                                // 未承認タスク
                                else
                                {
                                    <td id="@cellId" style="background-color:yellow">
                                        【未認証】<br />@achived.First().AchievedDateTime.ToString()
                                    </td>
                                }
                                columNumber++;
                            }
                        </tr>
                        rowNumber++;
                        columNumber = 1;
                    }
                </tbody>
            </table>
        }

    </div>
</div>
@*進捗更新確認モーダル*@
<div class="modal fade" id="approvalRequest" tabindex="-1" role="dialog" aria-labelledby="#approvalRequestTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approvalRequestTitle">確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>一言（あれば）</label>
                <br />
                <textarea rows="5" cols="20" class="form-control" id="aSingleWord"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="approvalRequestButton">承認依頼</button>
                <button class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            </div>
        </div>
    </div>
</div>
