@page
@model CoreTaskManager.Pages.TaskManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table>
    <thead>
        <tr>
            <th></th>
            @foreach (var item in Model.Participants)
            {
                <th>
                    @Html.DisplayFor(modelItem => item.UserName)
                </th>
            }
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model.TaskModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}*@
    </tbody>
</table>
